/** Add css rules here for your application. */
/* Main panel */
.mainPanel {
  margin: 10px;
}
/* Welcome panel */
.welcomePanel {
  margin: 5px 0px 5px 0px;
}

/* Add Proposal panel */
.addPanel {
  margin: 5px 0px 5px 0px;
}
